body {
    font-family: 'Vollkorn', serif;
    
}

.logo, .headline {
    font-family: 'Philosopher', sans-serif;

}
.top {
    background-image: url(../images/Yoga\ Practise\(extented\)4.png);
   /* background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 850px;
}
.nav-item a, .headline, .nav-item a:active {
    color: #EADFDE;
}
.dropdown-menu {
    background:#7b7883;
}
 .dropdown-menu :hover {
    background: #7b7883;
    font-weight: 600;
    color: #EADFDE;
}
.start {
    padding: 10px 15px;
    background: #7B5D7B;
    color:#EADFDE;
    border: none;
}
.start:hover, .start:focus, .start:active, .start:visited, .start:link {
    background: linear-gradient(rgba(123,93,123),purple);
    border: none;
    color:#EADFDE;
    outline: none;
    text-decoration: none;
}


.about {
    background-color: #EADFDE;
}
.plandetail {
 box-sizing: border-box;
    background-color: #AE8BA4;
    color: #EADFDE;
    padding:30px 15px 2px 15px;
    border-radius: 55px;
    transition: transform .2s;

    width: 90%;
    height: 525px;
  
}
.text-left li {
    padding-bottom: 15px;
  
    line-height: 30px;
    font-size: 22px;
}
#plan1 :hover, #plan2 :hover, #plan3 :hover {
  
   background-color: #7B5D7B;
  width: 100%;
   
}
.pricingbutton {
    padding: 10px 15px;
    background: #7B5D7B;
    color:#EADFDE;
}
.footer {
    background:#EADFDE;
    width: 100vw;
    height: auto;

}
.policy a, .footerlink a{
    color: black;
}
.footerlink li {
    list-style: none;
    font-size: 20px;
}
.form-control {
    background-color: #fcf6f6;
    font-size: 20px;
}
.btn {
    background: #7B5D7B;
    font-size: 20px;
    color: #EADFDE;
}
.icon1 :hover {
    color: #8733a9;
}
.icon2 :hover {
    color:#3b5998;
}
.icon3 :hover {
    color: #e61b27;
}
.footerlink li a, footer p {
    font-size: 20px;
}
.footerlink li a {
    text-decoration: none;
}
.footerlink li a :hover {
 text-decoration: underline;
    text-decoration-color: #8733a9;
}

.card-link {
    font-size: 28px;
}

@media all and (max-width: 650px) {
    .top {
        background-image: url(../images/Yoga\ Practise\(extented\)mobile.png);
       /* background-position: center;*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 750px;
    }
  .aboutimg {
       order: 1;
   } 
.aboutdetail{
    order: 2;
}
 .freevideodetail {
     order: 2;
  

}
.freevideoimg {
    order: 1;
    width: 60%;
    
}
.freevideopic {
    width: 100%;
}

}